/* Slider */

.slick-slider {
    position: relative;
    display: block;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}
.slick-list {
    position: relative;
    overflow: hidden;
    display: block;
    margin: 0;
    padding: 0;

    &:focus {
        outline: none;
    }

    &.dragging {
        cursor: pointer;
        cursor: hand;
    }
}
.slick-slider .slick-track,
.slick-slider .slick-list {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.slick-track {
    position: relative;
    left: 0;
    top: 0;
    display: block;

    &:before,
    &:after {
        content: "";
        display: table;
    }

    &:after {
        clear: both;
    }

    .slick-loading & {
        visibility: hidden;
    }
}
.slick-slide {
    float: left;
    height: 100%;
    min-height: 1px;
    [dir="rtl"] & {
        float: right;
    }
    img {
        display: block;
    }
    &.slick-loading img {
        display: none;
    }

    display: none;

    &.dragging img {
        pointer-events: none;
    }

    .slick-initialized & {
        display: block;
    }

    .slick-loading & {
        visibility: hidden;
    }

    .slick-vertical & {
        display: block;
        height: auto;
        border: 1px solid transparent;
    }
}
.slick-next,
.slick-prev {
    font-size: 0px;
    line-height: 0;
    position: absolute;
    top: 50%;
    display: block;
    width: 36px;
    height: 80px;
    margin-top: -10px;
    padding: 0px;
    cursor: pointer;
    color: transparent;
    border: medium none;
    outline: medium none;
    background: transparent;
    background-image: url(../images/szag-sprite.png);
}
.slick-next {
    right: -36px;
    background-position: -86px -370px; /* xpos ypos */
}
.slick-next.slick-disabled {
    right: -36px;
    background-position: -86px -290px; /* xpos ypos */
}
.slick-prev {
    left: -36px;
    background-position: -50px -370px;
}
.slick-prev.slick-disabled {
    background-position: -50px -290px;
}


@media (max-width: 1014px) {
    .slick-track {
        .max6 .col {
            margin-left: 11px;
            margin-right: 12px;
        }
    }
}

@media (max-width: 750px) {
    .slick-slider .slick-track, .slick-slider .slick-list {
        left: 0;
    }
    .slick-next {
        right: -7px;
    }
    .slick-prev {
        left: -7px;
    }
}